body {
    font: 13px/1.5 'Roboto', 'Noto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    margin: 0;
    padding: 0;
}




/* Header */
header #title{
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header img{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 10px;
    margin: 0;
    align-self: center;
    position: absolute;
}
header h1{
    margin-right: 48%;
    font-size: 16px;
    letter-spacing: 0.3em;
    align-self: center;
}


header ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
header li{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 20px 10px 20px;
    letter-spacing: normal;
    list-style: none;
    justify-content: center;
    color: black;
}
header li a{
    color: black;
    text-decoration: none;
}




/*body css*/

.container-heading {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.container-heading h1 {
    margin-bottom: 5px;

    font-size: 17px;
    font-weight: 300;
    align-self: center;
}

.container-heading span {
    font-size: 13px;
    color: #757575;
    align-self: center;
}





/*for forms*/

.container-middle {
    display: flex;
    flex-direction: row;
    margin: 0px 131px;
}

.container-middle h2 {
    font-size: 13px;
    color: #202020;
    margin: 11px 0px;
}

.container-middle h3 {
    margin: 0;
    padding: 0;
    color: #202020;
    font-size: 13px;
}


/*input form*/

*,
*::before,
*::after {
    box-sizing: border-box;
}
form{
    margin: 25px;
}


.custom-field {
    width: 400px;
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}



.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: 50%;
    /* top: calc(50% +10px); */
    /* transform: translateY(-50%); */
    color: #aaa;
    /* transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease; */
}

.custom-field input:focus+.placeholder {
    top: 10px;
    font-size: 10px;
    columns: rgb(231, 231, 231);
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff;
    padding: 12px;
    border-bottom: 1px solid #757575;
    width: 400px;
    font-size: 14px;
    outline: none;

}



.state-zipcode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custome-field-2-sub{
    width: 180px;
}


/* for zip code and state*/
.custom-field-2 {
   position: relative;
    width: 400px;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.custom-field-2 .placeholder {
    position: absolute;
    left: 12px;
    top: 50%;
    /* top: calc(50% +10px); */
    /* transform: translateY(-50%); */
    color: #aaa;
    /* transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease; */
}
.custom-field-2 input:focus+.placeholder {
    top: 10px;
    font-size: 10px;
    columns: rgb(231, 231, 231);
}

.custom-field-2 input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff;
    padding: 12px;
    border-bottom: 1px solid #757575;
    width: 180px;
    font-size: 18px;
    outline: none;
    display: inline;
    justify-self: center;
}


/*select optioins*/

.select-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#country{
    border: none;
    background-color: white;
}

.select_options{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.size{
    width: 40px;
    height: 15px;
    align-self: center;
}

.exp{
    width: 107.5px;
    height: 35px;
    align-self: center;
    border: none;
    color: #8d8d8d;
    background-color: rgb(255, 255, 255);
}






.card-expiry{
    margin: 20px 0 20px 0;
}
.card-expiry label{
    margin: 5px 0 5px 0;
}
.select-row{
    margin: 10px 0 10px 0;
}


.summary-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5px 10px 0;
}
.summary-row-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0   ;

}
.summary-row h3{
    color: #757575;
}
.price{
    color: #757575;
}
.btn{
    width: 192px;
    height: 36px;
    font-size: 14px;
    background-color: white;
}


/* 
.custom-field {
    font-size: 13px;
    position: relative;
    --field-padding: 12px;
    border-top: 20px solid transparent;

}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff;
    padding: 12px;
    border-bottom: 1px solid #757575;
    width: 410px;
    font-size: 13px;
    padding: var(--field-padding);
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    bottom: 50%;
    top: 22px;
    transform: translateY(-50%);
    width: calc(100% - 24px);
    color: rgb(80, 80, 80);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));

    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}


.custom-field input:not(:placeholder-shown)+.placeholder .custom-field input:focus+.placeholder {
    top: -10px;
    font-size: 10px;
    color: #757575;
}

.custom-field input:focus+.placeholder {
    top: -10px;
    font-size: 13px;
    color: #222;
} */



















/*footer*/
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-footer a {
    margin-top:20px ;
    align-self: center;
    text-decoration: none;
    color: #757575;
}

.container-footer h3 {
    align-self: center;
    margin-top: 8px;
    padding: 5px 15px 5px 15px;
    background-color: black;
    color: white;
}