body {
    font: 13px/1.5 'Roboto', 'Noto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    margin: 0;
    padding: 0;
}




/* Header */

header #title {
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header img {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 10px;
    margin: 0;
    align-self: center;
    position: absolute;
}

header h1 {
    margin-right: 48%;
    font-size: 16px;
    letter-spacing: 0.3em;
    align-self: center;
}


header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

header li {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 20px 10px 20px;
    letter-spacing: normal;
    list-style: none;
    justify-content: center;
    color: black;
}

header li a {
    color: black;
    text-decoration: none;
}


/*section css*/


.heading{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.heading h1{
    margin-top: 25px;
    margin-bottom: 5px;

    font-size: 17px;
    font-weight: 300;
    align-self: center;   
}
.heading span{
    font-size: 13px;  
    align-self: center;  
}


.shop-cart-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
}
.shop-cart-item img{
    width: 72px;
    height: 72px;
    margin-right: 24px;
}
.shop-cart-item a{
    width: 340px;
    height: 44px;
    text-decoration: none;
    color: #202020;
    margin: 26px 30px 0px 0px;
}
.select_options{
    width: 160px;
    height: 35;
    align-self: center;
}
.size{
    width: 144px;
    height: 19.5px;
    align-self: center;
}
.price{
    width: 100px;
    height: 19.5px;
    align-self: center;
}
#cross{
    width: 18px;
    height: 18px;
    padding: 8px;
    align-self: center;
}
#quantity{
    border: none;
    background-color: white;
}



.shop-cart-item h3{
    margin-left: 500px;
}
.shop-cart-item span{
    width: 100px;
    align-self: center;
    padding: 0 0 0 40px;
}
.shop-cart-item button{
    align-self: center;
    margin-left: 40px;
    width: 150px;
    height: 35px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 8px;
    text-decoration: none;
    color: #202020;
    font-size: 18px;
    background-color: white;
}



/*footer*/
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-footer a {
    align-self: center;
    text-decoration: none;
    color: #757575;
}

.container-footer h3 {
    align-self: center;
    margin-top: 8px;
    padding: 5px 15px 5px 15px;
    background-color: black;
    color: white;
}
