 body {
    font : 13px/1.5 'Roboto', 'Noto', sans-serif;   
    margin: 0;
    padding: 0;
    background-color: white;
}
h1{
    margin: 0;
    padding: 0;
}
/* Global*/
.container{
    margin: auto;
    overflow: hidden;
}


/* Header */

header #title{
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header img{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 10px;
    margin: 0;
    align-self: center;
    position: absolute;
}
header h1{
    margin-right: 48%;
    font-size: 16px;
    letter-spacing: 0.3em;
    align-self: center;
}


header ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
header li{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 20px 10px 20px;
    letter-spacing: normal;
    list-style: none;
    justify-content: center;
    color: black;
}
header li a{
    color: black;
    text-decoration: none;
}



/* Section 1*/
.container-heading{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
section #showcase img{
    width: 100%;
    align-self: center;
}
.container-heading h1{
    margin-top: 25px;
    margin-bottom: 5px;

    font-size: 17px;
    font-weight: 300;
    align-self: center;   
}
.container-heading span{
    font-size: 13px;  
    align-self: center;  
}




/*Library of items*/

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid li {
    padding: 20px;
    text-align: center;
    list-style: none;
}

.title {
    font-weight: bold;
    font-size: 13px;
}

.price {
    font-size: 13px;
    color: #757575;
}




/*footer*/
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-footer a{
    align-self: center;
    text-decoration: none;
    color: #757575;
}
.container-footer h3{
    align-self: center;
    margin-top: 8px;
    padding: 5px 15px 5px 15px;
    background-color: black;
    color: white;
}












































































/*
#cart-logo {
    width: 24px;
    height: 24px;
    padding: 8px;
    float: right;
    margin: 10px;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;

}


.logo>a {
    line-height: 66px;
    width: 65px;
    height: 24PX;
    display: inline;
    align-self: center;
    padding: 8px;
    font-size: 16px;
    letter-spacing: 0.3em;
    color: #202020;
    text-decoration: none; 

}

#title{
    letter-spacing: 0.3em;
    color: #202020;
    text-decoration: none; 
    padding: 8px;
    font-size: 16px;    

}





.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item>a {
    text-decoration: none;
    color: #202020;
    margin-right: 15px;
    margin-left: 15px;

    padding: 10px;
}





.header-text>img{
    opacity: 1;
     transition: opacity 0.5s ease 0s;
}

.header-text{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.header-text>h1 {
    font-size: 17px;
 

    color: #202020;
}

.header-text>span {
    box-sizing: border-box;
    align-self: center;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 550.5px;
    margin-right: 540.5px;
    font-size: 12px;
    color: #757575;
}











.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid li {
    padding: 20px;
    text-align: center;
    list-style: none;
}

.title {
    font-weight: bold;
    font-size: 13px;
}

.price {
    font-size: 13px;
    color: #757575;
}





.footer>a {
    box-sizing: border-box;
    align-self: center;
    margin-top: 8px;
    margin-left: 545.5px;
    margin-right: 545.5px;
    font-size: 13px;
    text-decoration: none;
    color: #757575;
}

.demo-label {
    box-sizing: border-box;
    align-self: center;
    margin-top: 8px;
    margin-left: 545.5px;
    margin-right: 545.5px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    background-color: #202020;
    color: white;
} */
/* 
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .container #title{
    letter-spacing: 0.3em;
    color: #202020;
    text-decoration: none; 
    padding: 8px;
    font-size: 16px;  
}


#cart-logo img {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 10px;
} */