body {
    font : 13px/1.5 'Roboto', 'Noto', sans-serif;   
    margin: 0;
    padding: 0;
    background-color: white;
}
h1{
    margin: 0;
    padding: 0;
}
/* Global*/
.container{
    margin: auto;
    overflow: hidden;
}


/* Header */

header #title{
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header img{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 10px;
    margin: 0;
    align-self: center;
    position: absolute;
}
header h1{
    margin-right: 48%;
    font-size: 16px;
    letter-spacing: 0.3em;
    align-self: center;
}


header ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
header li{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 20px 10px 20px;
    letter-spacing: normal;
    list-style: none;
    justify-content: center;
    color: black;
}
header li a{
    color: black;
    text-decoration: none;
}

/*Section*/

.container-middle{

    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-items: center;

}
.photo{
    margin: 68px;
    
}

.details{
    margin: 64px 32px;
    width: 400px;
    height: 600px;

}
.details>h1{
    font-size: 24px;
    color: #202020;
    font-weight: 400;
}
.price{
    color: #757575;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom:40px;
    /* border-bottom: 1px solid #757575; */
}


.select_options label{
    margin-right: 40px;
}

.select_options{
    padding: 16px  16px 16px ;
    border-top: 0.5px solid #757575;
    border-bottom: 0.5px solid #757575;
    height: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.select_options select{
    width:300px;
    background-color: transparent;
    border: none;
}
select #size{
    font-size: 16px Arial;
}





.details h2{
    color: #202020;
    font-size: 13px;
    margin: 16px 0px;
    font-weight: bold;
}


.details h3{
    color: #757575;
    font-size: 13px;
    margin: 16px 0px;
}

.details p{
    font-size: 13px;
    margin: 13px 0px;
    color: #757575;
}
.details ul{
    margin: 13px 0px;
    padding: 0 0 0 40px;
    color: #757575;
}
.details input{
    font: 14px Arial;
    background: #ffffff;
    padding: 8px 44px;
    margin-top: 52px;
}























/*footer*/
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-footer a{
    align-self: center;
    text-decoration: none;
    color: #757575;
}
.container-footer h3{
    align-self: center;
    margin-top: 8px;
    padding: 5px 15px 5px 15px;
    background-color: black;
    color: white;
}
