body {
    font: 13px/1.5 'Roboto', 'Noto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    margin: 0;
    padding: 0;
}






/* Header */

header #title {
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header img {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 10px;
    margin: 0;
    align-self: center;
    position: absolute;
}

header h1 {
    margin-right: 48%;
    font-size: 16px;
    letter-spacing: 0.3em;
    align-self: center;
}


header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

header li {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 20px 10px 20px;
    letter-spacing: normal;
    list-style: none;
    justify-content: center;
    color: black;
}

header li a {
    color: black;
    text-decoration: none;
}



/*Section*/

button {
    height: 40px;
    width: 175px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-size: 15px;
    cursor: pointer;
}

button:active {
    color: white;
    background-color: black;
}

section {
    margin-bottom: 50px;
}

.middle p {
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.middle {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middle img{
    width: 100%;
    height: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#t_shirts img {
    width: 100%;
    height: 100%;
}

#t_shirts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


















/*footer*/
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-footer a {
    align-self: center;
    text-decoration: none;
    color: #757575;
}

.container-footer h3 {
    align-self: center;
    margin-top: 8px;
    padding: 5px 15px 5px 15px;
    background-color: black;
    color: white;
}